@charset "utf-8";
/* CSS Document */

body{
	background:url(images/site_bg_admin.png) repeat-x #FFF;
	
	
}

#header{
	height:50px;
}


#kanan_atas{
	
	
}

#kotak_cari{
	margin-top:7px;
	
}

#big_image{
	height:200px;
	clear:both;
}

#big_image_selector{
	margin-top:20px;
	background:url(images/pembatas_besar.png) left no-repeat;
	height:140px;
}

#big_image_left{
	
	margin-top:20px;	
	color:#fff;
	width:690px;
	height:140px;
	
	
}

#big_image_left img{
	position:absolute;
	border:3px solid #043A5C;
	padding:4px;
	background:#FFF;
	display:none;
	
}



#big_image_right{
	margin-top:20px;	
	color:#fff;
}

.besar_putih{
	font-size:24px;
	font-weight:bold;
	color:#FFF;
}

.imgstyle{
	
}



#pagination{
	text-align:center;
}

#pagination a{
	border:1px solid #666;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	margin-right:10px;
	color:#FFF;
	background:#60910C;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}

#pagination a:hover{
	color:#043A5C;
	background:#FFF;
}

#pagination .selected{
	border:2px solid #666;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	
	margin-right:10px;
	color:#043A5C;
	background:#FFF;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;	
}





.imgleft{
	float:left;
	margin-left:0;
	margin-right:15px;
	background:#666;
	padding:5px;
	margin-top:5px;
}

#footer{
	width:100%;
	
	
	border-top:3px solid #7B8F9F;
	background:url(images/formboxtitle.png) repeat-x;
	height:48px;
}

#footer_kiri{
	
	color:#fff;
	
}

#footer_kiri a{
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}

#footer_kanan{
	margin-top:4px;
	color:#fff;
	text-align:right;
	
}

#footer_kanan a{
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}

#content{
	width:100%;
	background:#EBEBEB;
}

#left_content{
	width:250px;
	float:left;
	min-height:100%;
	
}
	#left_content ul{
		margin:0;
		padding:0;
	}
	#left_content ul li{
		padding:10px;
		display:block;
		background:#E6E6E6;	
		border-top:1px solid #FFF;
		border-bottom:1px solid #CCC;
		clear:both;
		padding-bottom:0;
		
	}
	
	#left_content ul .selected{
		background:#FFF;
		position:relative;
		z-index:100;
		box-shadow:-4px 3px 6px #999;
		-moz-box-shadow:-4px 3px 3px #999;
	}
	#left_content ul .selected:hover{
		background:#FFF;
		position:relative;
		z-index:100;
	}
	
	#left_content ul li a{
		display:block;
		margin-bottom:10px;
		
		padding-left:30px;
		color:#4B4F5D;
		font-weight:bold;
		font-size:small;
		text-decoration:none;
	}
	#left_content ul li:hover{
		background:#DADADA;
	}
	
	#left_content ul li .dropdownbtn{
	}
	
	#left_content ul li ul{
		margin-top:10px;
		margin-left:-10px;
		margin-right:-10px;
		background:#BFC6CF;
		display:none;
	}
	#left_content ul li ul li{
		border:none;
		background:none;
		padding-bottom:3px;
	}
	
	#left_content ul li ul li a{
		
		padding-left:30px;
		
	}
	#left_content ul li ul li:hover{
		background:#B1B8C1;
	}
	
#right_content{
	padding:10px;
	box-shadow:-3px 0px 6px #999;
	-moz-box-shadow:-3px 0px 3px #999;
	
	margin-left:250px;
	background:#FFF;
	position:relative;
	z-index:99;
	min-height:100%;
}

#content_kanan{
	margin-left:30px;
	

}	

#content_kanan h3{
	color:#072768;
	background:url(images/right_title_bg.png) left no-repeat;
	display:block;
	padding-top:10px;
	padding-bottom:12px;
	
	padding-left:10px;
	margin-bottom:10px;
}

#content_kanan ul{
	margin-left:-18px;;
	list-style:none;
}

#content_kanan ul li{
	display:block;
	border-bottom:1px dotted #333;
}

.comment_form{
	
	border:1px solid #CCC;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	
	clear:both;
	padding:10px;
	
}

.comment_form label{
	width: 7em; 
	float: left; 
	margin:0.5em 0;
	padding-top:2px;
	
}

#comment_list{
	margin-bottom:20px;
}

#comment_list ul{
	list-style:none;
	margin-left:-10px;
}

#comment_list ul li{
	margin-bottom:20px;
	display:block;
	background:#F3F3F3;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	
}

.comment_box{
	background:url(images/comment_title.png) bottom left no-repeat;
	padding-bottom:10px;
	margin-left:-30px;
	float:left;
	
}

.comment_name{
	background:#F89B1F;
	
	width:auto;
	padding-top:5px;
	padding-bottom:5px;
	color:#FFF;
	
	font-weight:bold;
	font-size:14px;
	padding-left:15px;
	padding-right:15px;
}
.comment_date{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
}

.side_panel_item_list{
	border:1px solid #999;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topeft:10px;
	-moz-border-radius-topright:10px;
	margin-bottom:10px;
	padding:10px;
	background:#CCC;
}

.formbox{
	background:#ECF1F4;
	padding-bottom:10px;
	float:left;
	border:#CDCDCD 1px solid;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topeft:10px;
	-moz-border-radius-topright:10px;
}

.formboxtitle{
	background:url(images/formboxtitle.png) repeat-x #94A6B2;
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topeft:10px;
	-moz-border-radius-topright:10px;
	padding:10px;
	color:#FFF;
	font-weight:bold;
	font-size:16px;
}


.formboxitem{
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:#D0D7DF 1px solid;
	border-top:#FFF 1px solid;
}
.formbox label{
	color:#666;
	
}

.imguptitle{
	background:#3C4B53 url(images/image_uploader_open.png) right no-repeat;
	background-position:475px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	padding-bottom:4px;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
}

.imgupcontent{
	background:#3C4B53;
	padding-bottom:10px;
	padding:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	
}

.separo{
	width:48%;
	float:left;
	margin-right:1%;
	margin-bottom:1%;
}

.seperempat{
	width:29%;	
	float:left;
	margin-right:1%;
	margin-bottom:1%;
}

.seperdelapan{
	width:11.5%;
	float:left;
	margin-right:1%;
	margin-bottom:1%;
}
.tigaperempat{
	width:68%;
	float:left;
	margin-right:1%;
	margin-bottom:1%;
}
.penuh{
	width:100%;
	float:left;
	margin-right:0;
	margin-bottom:1%;	
}
