@charset "utf-8";
/* CSS Document */

input{
	padding-left:5px;
	padding-right:5px;
	color:#666;
	
}

input:focus{
	color:#000;
}

.btnmerah{
	background:#F89B1F;
	border:1px solid #CCC;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:30px;
	padding-right:30px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
}

.btnmerah:hover{
	background:#C00;
	color:#FFF;
}

.btncari{
	background:url(images/Search.png) left no-repeat #FFF;
	background-position:5px 0px;
	border:1px solid #CCC;
	width:50%;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:35px;
	padding-right:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	color:#999;
	margin-left:10px;
	text-decoration:none;
	font-size:12px;
}

.tblcari{
	background:#9C0;
	border:1px solid #CCC;
	
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	color:#036;
	font-weight:bold;
	margin-left:5px;
	text-decoration:none;
	font-size:12px;
	cursor:pointer;
}

.tblcari:hover{
	background:#CF6;	
}

.kontakbtn{
	background:url(images/Mail.png) left no-repeat;

}

.addnewbtn{
	background:url(images/Add.png) left no-repeat;
	padding-left:26px;
	padding-top:5px;
	padding-bottom:4px;
	color:#333;
	font-weight:bold;
	text-decoration:none;
}

.discardbtn{
	background:url(images/Cancel.png) left no-repeat;
	padding-left:26px;
	padding-top:5px;
	padding-bottom:4px;
	color:#333;
	font-weight:bold;
	text-decoration:none;
}

.savebtn{
	background:url(images/Save.png) left no-repeat;
	padding-left:26px;
	padding-top:5px;
	padding-bottom:4px;
	color:#333;
	font-weight:bold;
	text-decoration:none;
	border:none;
	cursor:pointer;
}

.userbtn{
	background:url(images/user.png) left no-repeat;
	color:#FF0000;
	
	text-decoration:none;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:25px;
	padding-right:10px;
}

.userbtn:hover{
	background:url(images/user.png) left no-repeat #0A5689;
	color:#FFF;
}

.lockbtn{
	background:url(images/lock.png) left no-repeat;
	color:#FF0000;
	
	text-decoration:none;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:25px;
	padding-right:10px;
	
}

.imageuploaderbtn{
	background:url(images/image_uploader.png) left no-repeat;
	color:#314047;
	
	text-decoration:none;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:27px;
	padding-right:10px;
	
}

.imagelibrarybtn{
	background:url(images/image_library.png) left no-repeat;
	color:#314047;
	
	text-decoration:none;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:27px;
	padding-right:10px;
	
}

.lockbtn:hover{
	background:#0A5689 url(images/lock.png) left no-repeat;
	color:#FFF;
}

.general_configbtn{
	background:url(images/general_config.png) left no-repeat;
}

.site_configbtn{
	background:url(images/site_config.png) left no-repeat;
	
}


.skin_chooserbtn{
	background:url(images/skin_chooser.png) left no-repeat;
	
}

.module_mbtn{
	background:url(images/module.png) left no-repeat;
	
}

.content_mbtn{
	background:url(images/content_m.png) left no-repeat;
	
}

.static_homebtn{
	background:url(images/static_home.png) left no-repeat;
	
}

.static_pagebtn{
	background:url(images/static_page.png) left no-repeat;
	
}

.categorybtn{
	background:url(images/category.png) left no-repeat;
	
}

.postbtn{
	background:url(images/post.png) left no-repeat;
}

.commentbtn{
	background:url(images/comment.png) left no-repeat;
}

.side_panelbtn{
	background:url(images/side_panel.png) left no-repeat;
}

.imagelibbtn{
	background:url(images/imagelib.png) left no-repeat;
}

.the_page_item{
	behavior: url(border-radius.htc);
	border:1px solid #D0D7DF;
	padding:10px;
	color:#666;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;	
	margin-bottom:10px;
	background:url(images/page_selector_bg.png) repeat-x #EEF3F5;
	padding-bottom:3px;
}

.the_sub_menu{
	clear:both;
	
	margin-top:1px;
	
}

#breadcrumb{
	height:27px;
	
	
	width:100%;
	padding-top:10px;
	margin-bottom:10px;
}	



#breadcrumb a{
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	margin-left:10px;
}



.the_bread_item{
	color:#FFF;
	padding-top:7px;
	
	padding-bottom:6px;
	padding-right:10px;
	
}

.tag_item{
	padding-left:5px;
	padding-right:5px;
	background:#94A6B2;
	padding-top:3px;
	padding-bottom:3px;
	color:#FFF;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	float:left;
	margin-right:10px;
	margin-top:10px;
}
